<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postboard</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1 class="title">OpenChannel</h1>

    <div class="board-container">
        <div class="board-box">
            <div class="small-title">
                Welcome!
            </div>
            <div class="box-content" style="color: rgb(141, 0, 0);">
                Welcome to OpenChannel! Here you can post anything you want.
            </div>
        </div>
    </div>

    <div class="board-container">
        <div class="board-box">
            <div class="small-title">
                Boards
            </div>

            <div class="box-content">
                <div class="categories-container">
                    <ul class="categories">
                        <li>Tech</li>
                        <li><a href="/board/1">Technology General</a></li>
                        <li><a href="/board/2">Programming</a></li>
                        <li><a href="/board/3">Graphics</a></li>
                    </ul>

                    <ul class="categories">
                        <li>Creative</li>
                        <li><a href="/board/4">Drawing</a></li>
                        <li><a href="/board/5">Music</a></li>
                        <li><a href="/board/6">Architecture</a></li>
                        <li><a href="/board/7">Game development</a></li>
                    </ul>
                    <ul class="categories">
                        <li>World</li>
                        <li><a href="/board/8">News</a></li>
                        <li><a href="/board/9">Politics</a></li>
                        <li><a href="/board/10">Sport</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>